node-red-admin/flows/simple-admin-flow.json
[
    {
        "id": "admin-trigger",
        "type": "http in",
        "z": "simple-admin-flow",
        "name": "Admin Login",
        "url": "/admin",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "admin-processor"
            ]
        ]
    },
    {
        "id": "admin-processor",
        "type": "function",
        "z": "simple-admin-flow",
        "name": "Admin HTML",
        "func": "msg.payload = `\n<!DOCTYPE html>\n<html>\n<head>\n    <title>ReUse Admin - Login</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); min-height: 100vh; display: flex; align-items: center; justify-content: center; }\n        .container { max-width: 400px; width: 100%; background: white; padding: 40px; border-radius: 16px; box-shadow: 0 20px 60px rgba(0,0,0,0.3); }\n        .logo { text-align: center; color: #27ae60; font-size: 32px; font-weight: bold; margin-bottom: 10px; }\n        .subtitle { text-align: center; color: #666; font-size: 14px; margin-bottom: 30px; }\n        .form-group { margin-bottom: 20px; }\n        .label { display: block; margin-bottom: 8px; color: #333; font-size: 14px; font-weight: 500; }\n        .input { width: 100%; padding: 12px; border: 1px solid #ddd; border-radius: 8px; font-size: 14px; transition: all 0.3s; }\n        .input:focus { outline: none; border-color: #27ae60; box-shadow: 0 0 0 3px rgba(39, 174, 96, 0.1); }\n        .btn { width: 100%; padding: 14px; background: #27ae60; color: white; border: none; border-radius: 8px; cursor: pointer; font-size: 16px; font-weight: 600; transition: all 0.3s; }\n        .btn:hover { background: #229954; transform: translateY(-2px); box-shadow: 0 4px 12px rgba(39, 174, 96, 0.3); }\n        .error { background: #fee; border: 1px solid #fcc; color: #c33; padding: 12px; border-radius: 8px; margin-bottom: 20px; font-size: 14px; display: none; }\n        .loading { display: none; text-align: center; color: #666; margin-top: 10px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"logo\">🌱 ReUse!</div>\n        <div class=\"subtitle\">Painel Administrativo</div>\n        <div id=\"error\" class=\"error\"></div>\n        <form id=\"loginForm\">\n            <div class=\"form-group\">\n                <label class=\"label\" for=\"email\">Email</label>\n                <input type=\"email\" class=\"input\" id=\"email\" placeholder=\"admin@reuse.com\" required>\n            </div>\n            <div class=\"form-group\">\n                <label class=\"label\" for=\"password\">Senha</label>\n                <input type=\"password\" class=\"input\" id=\"password\" placeholder=\"••••••••\" required>\n            </div>\n            <button type=\"submit\" class=\"btn\" id=\"loginBtn\">Entrar</button>\n            <div class=\"loading\" id=\"loading\">Verificando credenciais...</div>\n        </form>\n    </div>\n    <script>\n        const form = document.getElementById('loginForm');\n        const errorDiv = document.getElementById('error');\n        const loadingDiv = document.getElementById('loading');\n        const loginBtn = document.getElementById('loginBtn');\n        \n        form.addEventListener('submit', async function(e) {\n            e.preventDefault();\n            \n            const email = document.getElementById('email').value;\n            const password = document.getElementById('password').value;\n            \n            errorDiv.style.display = 'none';\n            loadingDiv.style.display = 'block';\n            loginBtn.disabled = true;\n            \n            try {\n                // Simular login por enquanto\n                if (email === 'admin@reuse.com' && password === 'admin123') {\n                    localStorage.setItem('adminToken', 'fake-token-123');\n                    window.location.href = '/admin/dashboard';\n                } else {\n                    errorDiv.textContent = 'Credenciais inválidas';\n                    errorDiv.style.display = 'block';\n                }\n            } catch (error) {\n                errorDiv.textContent = 'Erro ao conectar com o servidor: ' + error.message;\n                errorDiv.style.display = 'block';\n            } finally {\n                loadingDiv.style.display = 'none';\n                loginBtn.disabled = false;\n            }\n        });\n    </script>\n</body>\n</html>`;\n\nmsg.headers = {\n    'Content-Type': 'text/html; charset=utf-8'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "admin-response"
            ]
        ]
    },
    {
        "id": "admin-response",
        "type": "http response",
        "z": "simple-admin-flow",
        "name": "Admin Response",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard-trigger",
        "type": "http in",
        "z": "simple-admin-flow",
        "name": "Dashboard",
        "url": "/admin/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "dashboard-processor"
            ]
        ]
    },
    {
        "id": "dashboard-processor",
        "type": "function",
        "z": "simple-admin-flow",
        "name": "Dashboard HTML",
        "func": "msg.payload = `\n<!DOCTYPE html>\n<html>\n<head>\n    <title>ReUse Admin - Dashboard</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background: #f8f9fa; }\n        .header { background: white; padding: 20px 40px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); display: flex; justify-content: space-between; align-items: center; }\n        .logo { color: #27ae60; font-size: 24px; font-weight: bold; }\n        .user-info { display: flex; align-items: center; gap: 15px; }\n        .nav { background: #2c3e50; padding: 0; display: flex; }\n        .nav a { color: white; text-decoration: none; padding: 15px 30px; transition: all 0.3s; }\n        .nav a:hover, .nav a.active { background: #34495e; }\n        .container { max-width: 1200px; margin: 0 auto; padding: 30px; }\n        .page-title { font-size: 28px; color: #2c3e50; margin-bottom: 30px; }\n        .metrics-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 20px; margin: 20px 0; }\n        .metric-card { background: white; padding: 25px; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); border-left: 4px solid #27ae60; transition: all 0.3s; }\n        .metric-card:hover { transform: translateY(-5px); box-shadow: 0 4px 16px rgba(0,0,0,0.15); }\n        .metric-title { color: #666; font-size: 14px; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 0.5px; }\n        .metric-value { color: #27ae60; font-size: 36px; font-weight: bold; }\n        .metric-change { font-size: 12px; color: #27ae60; margin-top: 5px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <div class=\"logo\">🌱 ReUse! Admin</div>\n        <div class=\"user-info\">\n            <span>Bem-vindo, Admin</span>\n            <button onclick=\"logout()\" style=\"padding: 8px 16px; background: #e74c3c; color: white; border: none; border-radius: 6px; cursor: pointer;\">Sair</button>\n        </div>\n    </div>\n    <div class=\"nav\">\n        <a href=\"/admin/dashboard\" class=\"active\">📊 Dashboard</a>\n        <a href=\"/admin/users\">👥 Usuários</a>\n        <a href=\"/admin/offers\">📦 Anúncios</a>\n    </div>\n    <div class=\"container\">\n        <h1 class=\"page-title\">Dashboard de Métricas</h1>\n        <div class=\"metrics-grid\">\n            <div class=\"metric-card\">\n                <div class=\"metric-title\">Usuários Cadastrados</div>\n                <div class=\"metric-value\">1,250</div>\n                <div class=\"metric-change\">↑ Ativos: 1,180</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-title\">Anúncios Ativos</div>\n                <div class=\"metric-value\">902</div>\n                <div class=\"metric-change\">Total: 1,100</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-title\">Trocas em Andamento</div>\n                <div class=\"metric-value\">207</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-title\">Trocas Finalizadas</div>\n                <div class=\"metric-value\">330</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-title\">Trocas Canceladas</div>\n                <div class=\"metric-value\">45</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-title\">Denúncias</div>\n                <div class=\"metric-value\">19</div>\n            </div>\n        </div>\n    </div>\n    <script>\n        function logout() {\n            localStorage.removeItem('adminToken');\n            window.location.href = '/admin';\n        }\n        \n        if (!localStorage.getItem('adminToken')) {\n            window.location.href = '/admin';\n        }\n    </script>\n</body>\n</html>`;\n\nmsg.headers = {\n    'Content-Type': 'text/html; charset=utf-8'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "dashboard-response"
            ]
        ]
    },
    {
        "id": "dashboard-response",
        "type": "http response",
        "z": "simple-admin-flow",
        "name": "Dashboard Response",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "users-trigger",
        "type": "http in",
        "z": "simple-admin-flow",
        "name": "Users Management",
        "url": "/admin/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "users-processor"
            ]
        ]
    },
    {
        "id": "users-processor",
        "type": "function",
        "z": "simple-admin-flow",
        "name": "Users HTML",
        "func": "msg.payload = `\n<!DOCTYPE html>\n<html>\n<head>\n    <title>ReUse Admin - Gerenciar Usuários</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background: #f8f9fa; }\n        .header { background: #f8f8f8; padding: 20px 40px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); display: flex; justify-content: space-between; align-items: center; }\n        .logo { color: #27ae60; font-size: 24px; font-weight: bold; display: flex; align-items: center; gap: 15px; }\n        .logo-icon { width: 50px; height: 50px; background: #27ae60; border-radius: 8px; display: flex; align-items: center; justify-content: center; color: white; font-size: 20px; }\n        .user-info { display: flex; align-items: center; gap: 15px; }\n        .nav { background: #2c3e50; padding: 0; display: flex; }\n        .nav a { color: white; text-decoration: none; padding: 15px 30px; transition: all 0.3s; }\n        .nav a:hover, .nav a.active { background: #34495e; }\n        .container { max-width: 1200px; margin: 0 auto; padding: 30px; }\n        .page-title { font-size: 28px; color: #2c3e50; margin-bottom: 30px; }\n        .search-container { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); margin-bottom: 30px; display: flex; align-items: center; gap: 15px; }\n        .search-icon { width: 20px; height: 20px; opacity: 0.5; }\n        .search-input { flex: 1; border: none; outline: none; font-size: 16px; color: #333; }\n        .search-input::placeholder { color: #999; }\n        .users-list { background: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); overflow: hidden; }\n        .user-item { display: flex; align-items: center; padding: 20px; border-bottom: 1px solid #eee; transition: all 0.3s; }\n        .user-item:hover { background: #f8f9fa; }\n        .user-item:last-child { border-bottom: none; }\n        .user-avatar { width: 60px; height: 60px; border-radius: 50%; object-fit: cover; margin-right: 20px; }\n        .user-info { flex: 1; }\n        .user-name { font-size: 18px; font-weight: 600; color: #2c3e50; margin-bottom: 5px; }\n        .user-status { font-size: 14px; color: #666; }\n        .user-status.active { color: #27ae60; }\n        .user-status.inactive { color: #e74c3c; }\n        .user-actions { display: flex; gap: 20px; align-items: center; }\n        .action-btn { display: flex; flex-direction: column; align-items: center; gap: 5px; cursor: pointer; padding: 10px; border-radius: 6px; transition: all 0.3s; }\n        .action-btn:hover { background: #f0f0f0; }\n        .action-icon { width: 24px; height: 24px; }\n        .action-text { font-size: 12px; color: #666; }\n        .btn { padding: 8px 16px; border: none; border-radius: 6px; cursor: pointer; font-size: 14px; font-weight: 500; transition: all 0.3s; }\n        .btn-primary { background: #27ae60; color: white; }\n        .btn-primary:hover { background: #229954; }\n        .btn-danger { background: #e74c3c; color: white; }\n        .btn-danger:hover { background: #c0392b; }\n        .btn-secondary { background: #95a5a6; color: white; }\n        .btn-secondary:hover { background: #7f8c8d; }\n        .modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 1000; }\n        .modal-content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 30px; border-radius: 12px; box-shadow: 0 20px 60px rgba(0,0,0,0.3); max-width: 400px; width: 90%; }\n        .modal-title { font-size: 20px; font-weight: 600; margin-bottom: 20px; color: #2c3e50; }\n        .modal-buttons { display: flex; gap: 10px; justify-content: flex-end; margin-top: 20px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <div class=\"logo\">\n            <div class=\"logo-icon\">🌱</div>\n            <span>ReUse!</span>\n        </div>\n        <div class=\"user-info\">\n            <span>Bem-vindo, Admin</span>\n            <button onclick=\"logout()\" class=\"btn btn-danger\">Sair</button>\n        </div>\n    </div>\n    <div class=\"nav\">\n        <a href=\"/admin/dashboard\">📊 Dashboard</a>\n        <a href=\"/admin/users\" class=\"active\">👥 Usuários</a>\n        <a href=\"/admin/offers\">📦 Anúncios</a>\n    </div>\n    <div class=\"container\">\n        <h1 class=\"page-title\">Gerenciar usuários</h1>\n        <div class=\"search-container\">\n            <img src=\"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDE5TDEzIDEzTTE1IDhBNyA3IDAgMSAxIDE1IDhBNyA3IDAgMSAxIDE1IDh6IiBzdHJva2U9IiM5OTk5OTkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=\" class=\"search-icon\" alt=\"Buscar\">\n            <input type=\"text\" class=\"search-input\" placeholder=\"buscar usuário\" id=\"searchInput\">\n        </div>\n        <div class=\"users-list\" id=\"usersList\">\n            <!-- Usuários serão carregados aqui -->\n        </div>\n    </div>\n\n    <!-- Modal de Confirmação -->\n    <div id=\"confirmModal\" class=\"modal\">\n        <div class=\"modal-content\">\n            <div class=\"modal-title\" id=\"modalTitle\">Confirmar Ação</div>\n            <p id=\"modalMessage\">Tem certeza que deseja realizar esta ação?</p>\n            <div class=\"modal-buttons\">\n                <button class=\"btn btn-secondary\" onclick=\"closeModal()\">Cancelar</button>\n                <button class=\"btn btn-danger\" id=\"confirmBtn\" onclick=\"confirmAction()\">Confirmar</button>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Dados de exemplo dos usuários\n        const users = [\n            {\n                id: 1,\n                name: \"Lira Belmond\",\n                email: \"lira@email.com\",\n                avatar: \"https://images.unsplash.com/photo-1494790108755-2616b612b786?w=150&h=150&fit=crop&crop=face\",\n                status: \"active\",\n                statusText: \"Ativo desde 02/04/2025\",\n                joinDate: \"2025-04-02\"\n            },\n            {\n                id: 2,\n                name: \"Théo Ravencroft\",\n                email: \"theo@email.com\",\n                avatar: \"https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=150&h=150&fit=crop&crop=face\",\n                status: \"blocked\",\n                statusText: \"Inativo - pelo administrador\",\n                joinDate: \"2025-03-15\"\n            },\n            {\n                id: 3,\n                name: \"Isolde Durand\",\n                email: \"isolde@email.com\",\n                avatar: \"https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=150&h=150&fit=crop&crop=face\",\n                status: \"active\",\n                statusText: \"Ativo desde 09/08/2025\",\n                joinDate: \"2025-08-09\"\n            },\n            {\n                id: 4,\n                name: \"Serenna Valmont\",\n                email: \"serenna@email.com\",\n                avatar: \"https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=150&h=150&fit=crop&crop=face\",\n                status: \"active\",\n                statusText: \"Ativo desde 10/08/2025\",\n                joinDate: \"2025-08-10\"\n            },\n            {\n                id: 5,\n                name: \"Elara Whitford\",\n                email: \"elara@email.com\",\n                avatar: \"https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=150&h=150&fit=crop&crop=face\",\n                status: \"active\",\n                statusText: \"Ativo desde 26/09/2025\",\n                joinDate: \"2025-09-26\"\n            },\n            {\n                id: 6,\n                name: \"Dorian Ashford\",\n                email: \"dorian@email.com\",\n                avatar: \"https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=150&h=150&fit=crop&crop=face\",\n                status: \"inactive\",\n                statusText: \"Inativo - pelo usuário\",\n                joinDate: \"2025-02-14\"\n            }\n        ];\n\n        let currentAction = null;\n        let currentUserId = null;\n\n        function renderUsers(usersToRender = users) {\n            const usersList = document.getElementById('usersList');\n            usersList.innerHTML = usersToRender.map(user => `\n                <div class=\"user-item\">\n                    <img src=\"${user.avatar}\" alt=\"${user.name}\" class=\"user-avatar\">\n                    <div class=\"user-info\">\n                        <div class=\"user-name\">${user.name}</div>\n                        <div class=\"user-status ${user.status}\">${user.statusText}</div>\n                    </div>\n                    <div class=\"user-actions\">\n                        <div class=\"action-btn\" onclick=\"changePassword(${user.id})\">\n                            <svg class=\"action-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2c3e50\" stroke-width=\"2\">\n                                <rect x=\"3\" y=\"11\" width=\"18\" height=\"11\" rx=\"2\" ry=\"2\"></rect>\n                                <path d=\"M7 11V7a5 5 0 0 1 10 0v4\"></path>\n                            </svg>\n                            <span class=\"action-text\">Trocar senha</span>\n                        </div>\n                        <div class=\"action-btn\" onclick=\"toggleUserStatus(${user.id}, '${user.status}'\">\n                            <svg class=\"action-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#e74c3c\" stroke-width=\"2\">\n                                <circle cx=\"12\" cy=\"12\" r=\"10\"></circle>\n                                <line x1=\"15\" y1=\"9\" x2=\"9\" y2=\"15\"></line>\n                                <line x1=\"9\" y1=\"9\" x2=\"15\" y2=\"15\"></line>\n                            </svg>\n                            <span class=\"action-text\">${user.status === 'active' ? 'Bloquear' : 'Ativar'}</span>\n                        </div>\n                        <div class=\"action-btn\" onclick=\"activateUser(${user.id})\">\n                            <svg class=\"action-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#27ae60\" stroke-width=\"2\">\n                                <polyline points=\"20,6 9,17 4,12\"></polyline>\n                            </svg>\n                            <span class=\"action-text\">Ativar</span>\n                        </div>\n                    </div>\n                </div>\n            `).join('');\n        }\n\n        function changePassword(userId) {\n            const user = users.find(u => u.id === userId);\n            currentAction = 'changePassword';\n            currentUserId = userId;\n            document.getElementById('modalTitle').textContent = 'Trocar Senha';\n            document.getElementById('modalMessage').textContent = `Deseja trocar a senha do usuário ${user.name}?`;\n            document.getElementById('confirmBtn').textContent = 'Trocar Senha';\n            document.getElementById('confirmBtn').className = 'btn btn-primary';\n            document.getElementById('confirmModal').style.display = 'block';\n        }\n\n        function toggleUserStatus(userId, currentStatus) {\n            const user = users.find(u => u.id === userId);\n            currentAction = 'toggleStatus';\n            currentUserId = userId;\n            const action = currentStatus === 'active' ? 'bloquear' : 'ativar';\n            document.getElementById('modalTitle').textContent = action.charAt(0).toUpperCase() + action.slice(1) + ' Usuário';\n            document.getElementById('modalMessage').textContent = `Deseja ${action} o usuário ${user.name}?`;\n            document.getElementById('confirmBtn').textContent = action.charAt(0).toUpperCase() + action.slice(1);\n            document.getElementById('confirmBtn').className = currentStatus === 'active' ? 'btn btn-danger' : 'btn btn-primary';\n            document.getElementById('confirmModal').style.display = 'block';\n        }\n\n        function activateUser(userId) {\n            const user = users.find(u => u.id === userId);\n            currentAction = 'activate';\n            currentUserId = userId;\n            document.getElementById('modalTitle').textContent = 'Ativar Usuário';\n            document.getElementById('modalMessage').textContent = `Deseja ativar o usuário ${user.name}?`;\n            document.getElementById('confirmBtn').textContent = 'Ativar';\n            document.getElementById('confirmBtn').className = 'btn btn-primary';\n            document.getElementById('confirmModal').style.display = 'block';\n        }\n\n        function confirmAction() {\n            const user = users.find(u => u.id === currentUserId);\n            \n            switch(currentAction) {\n                case 'changePassword':\n                    alert(`Senha do usuário ${user.name} foi alterada com sucesso!`);\n                    break;\n                case 'toggleStatus':\n                    user.status = user.status === 'active' ? 'blocked' : 'active';\n                    user.statusText = user.status === 'active' ? \n                        `Ativo desde ${new Date().toLocaleDateString('pt-BR')}` : \n                        'Inativo - pelo administrador';\n                    alert(`Usuário ${user.name} foi ${user.status === 'active' ? 'ativado' : 'bloqueado'} com sucesso!`);\n                    break;\n                case 'activate':\n                    user.status = 'active';\n                    user.statusText = `Ativo desde ${new Date().toLocaleDateString('pt-BR')}`;\n                    alert(`Usuário ${user.name} foi ativado com sucesso!`);\n                    break;\n            }\n            \n            renderUsers();\n            closeModal();\n        }\n\n        function closeModal() {\n            document.getElementById('confirmModal').style.display = 'none';\n            currentAction = null;\n            currentUserId = null;\n        }\n\n        function logout() {\n            localStorage.removeItem('adminToken');\n            window.location.href = '/admin';\n        }\n\n        // Busca de usuários\n        document.getElementById('searchInput').addEventListener('input', function(e) {\n            const searchTerm = e.target.value.toLowerCase();\n            const filteredUsers = users.filter(user => \n                user.name.toLowerCase().includes(searchTerm) || \n                user.email.toLowerCase().includes(searchTerm)\n            );\n            renderUsers(filteredUsers);\n        });\n\n        // Verificar autenticação\n        if (!localStorage.getItem('adminToken')) {\n            window.location.href = '/admin';\n        }\n\n        // Carregar usuários inicialmente\n        renderUsers();\n    </script>\n</body>\n</html>`;\n\nmsg.headers = {\n    'Content-Type': 'text/html; charset=utf-8'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "users-response"
            ]
        ]
    },
    {
        "id": "users-response",
        "type": "http response",
        "z": "simple-admin-flow",
        "name": "Users Response",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 300,
        "wires": []
    }
]
